<br />

<div class="booyah-box col-10 offset-1">
  <h1>Team</h1>

  <div class="row">
    <div class="col-4">
      <%= image_tag("ana.jpg", class: 'img-fluid img-thumbnail mx-auto d-block rounded ana') %>
    </div>
    <div class="col-8">
      <h3 class="text-center"><b>Founder/CEO</b> - Ana Boca</h3>
      <br />
      <p>
        Ana is a highly-educated and business-minded professional
        who believes in the power of learning. She developed Flixter
        so that lifelong learners alike can spread their knowledge. 
        Currently, the Flixter website is a one-woman team that will
        expand in the future as the site scales to include courses 
        of various subject areas.
      </p>
    </div>
  </div>
</div>